*.bak
ProgettoRuoRoch/registrazioni/sinistra_wav/workspace_da_sinistra.mat
ProgettoRuoRoch/registrazioni/sinistra_wav/workspace_da_sinistra.mat
ProgettoRuoRoch/registrazioni/sinistra_wav/workspace_da_sinistra.mat
